.styled-circle-header-left {
    background-color: #FF4202;
    border-radius: 70px;
    width: 70px;
    height: 70px;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}
