{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
      "func-names": 0,
      "no-underscore-dangle": [2, { "allow": ["_id"] }],
			"prefer-default-export": false,
			"no-tabs": ["error", { "allowIndentationTabs": true }],
			"indent": ["warning", "tab"]
    }
}