@import '../../../_sass/abstracts/variables';


// html {
//   background: $primary-color;
// };

.header-dynamic-grid {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1.4fr 0.4fr;
    grid-template-rows: 1.3fr 0.5fr 0.7fr 1.2fr 1.3fr;
    grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . ." ". . . .";
    height: 100vh;
}

.main-page-wrapper {
    padding: 0% 5% 0% 5%;
    background-color: #fff;
    min-height: 100px;
    margin: 0 auto;
}

@media only screen and (min-width: 1224px) {
    .main-page-wrapper {
      // background-color: lightblue;
      width: 1050px;
    }
  }