.grid-wrapper-navigation{
    width: 85%;
    display: grid;
    grid-template-columns: 3fr 9fr 5fr 1fr 1.5fr;
    margin: auto;
}

nav {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}