.overlay-menu-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
}



// .menu {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     // overflow: hidden;
//     pointer-events: none;
//     z-index: 150;
// }

// .menu--visible {
//     pointer-events: auto;
// }

// .app-menu {
//     background-color: #fff;
//     color: #000;
//     position: relative;
//     padding: 0px 100px;
//     height: 80vh;
//     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
//     -webkit-transform: translateY(-103%);
//     transform: translateY(-103%);
//     display: flex;
//     flex-direction: column;
//     will-change: transform;
//     z-index: 160;
//     pointer-events: auto;
//     text-transform: uppercase;
//     justify-content: center;
// }

// .menu--visible .app-menu {
//     -webkit-transform: none;
//     transform: none;
// }

// .menu--animatable .app-menu {
//     transition: all 130ms ease-in;
// }

// .menu--visible.menu--animatable .app-menu {
//     transition: all 330ms ease-out;
// }

// .menu:after {
//     content: '';
//     display: block;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.4);
//     opacity: 0;
//     will-change: opacity;
//     pointer-events: none;
//     transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
// }

// .menu--visible.menu:after {
//     opacity: 1;
//     pointer-events: auto;
// }

// .menu-title {
//     text-transform: capitalize;
//     color: #FF4202;
//     font-weight: 600;
//     font-size: 85%;
// }

// .menu-title-decoration {
//     background: #FF4202;
//     width: 15px;
//     height: 2px;
//     border-radius: 195px;
//     margin-left: 20px;
// }

// .menu-links {
//     text-decoration: none;
//     color: #000;
//     margin: 5px 0px;
//     font-weight: 500;
// }

// .menu-links:hover {
//     color: rgb(128, 128, 128);
// }

// .menu-h2 {
//     font-size: 260%;
//     text-transform: capitalize;
//     margin-bottom: 40px;
// }

// .row-1 {
//     display: flex;
//     justify-content: space-between;
// }

// .row-1>img {
//     width: 20px;
// }

// .row-2 {
//     display: flex;
//     align-items: center;
//     margin-bottom: 20px;
// }

// .row-3 {
//     display: flex;
//     justify-content: space-between;
//     line-height: 27px;
// }

// .row-3>div {
//     display: flex;
//     flex-direction: column;
// }

// .align-right {
//     text-align: right;
// }


// .row-4 {
//     display: flex;
//     align-items: center;
//     margin-bottom: 20px;
// }

// .row-5 p {
//     color: #535353;
//     text-transform: capitalize;
//     font-size: 90%;
//     line-height: 25px;
//     font-weight: 100;
// }