@import '../../../_sass/abstracts/variables';

a {
    text-decoration: none;
    color: #000;
}

.overlay-menu-wrapper {
    padding: 5% 10%;
    box-sizing: border-box;
    position: absolute;
    width: 20%;
    height: 100vh;
    background: white;
    z-index: 5;
    transition-timing-function: cubic-bezier(.2, .88, .85, .35);
    opacity: 0;
}

.overlay-menu-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-overlay-menu {
    background: rgb(0, 0, 158);
    transition: 0.7s ease-in-out;
    opacity: 1;
    z-index: 100;
    width: 100%;
    transition-timing-function: cubic-bezier(.2, .88, .85, .35);
}

.display-none {
    transition: 0.7s ease-in-out;
    opacity: 0;
    width: 1%;
    z-index: -1;
}
