.primary-quote {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 35px;
    width: 75%;
}

.quote-pos-1 {
    margin-left: auto;
}


@media only screen and (max-width: 768px) {
    .primary-quote {
        font-size: 90%;
        width: 100%;

    }
}