@import '../../../_sass/abstracts/variables';

.mybgfontimg {
    background: url(../../../assets/images/bg-image-homepage-2.jpg)no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-maintitle-style {
    font-family: $font-family-roboto;
    font-size: 100px;
    color: #fff;
    min-height: 0;
    font-weight: 600;
    white-space: pre-line;
    z-index: 10;
    animation: fadeinOpacity 3s;
}

.header-maintitle-pos {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    margin-top: 40%;
}

@media only screen and (max-width: 1100px) {
    .header-maintitle-style {
        font-size: 65px;
        white-space: normal;
    }
}

@media only screen and (max-width: 900px) {
    .header-maintitle-pos {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: unset;
        margin-top: 60%;
    }
}

@keyframes fadeinOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.small-uppercase-title-style {
    font-family: $font-family-roboto;
    font-size: 80%;
    font-weight: 300;
    letter-spacing: 2px;
}

.header-link-to-home {
    font-family: $font-family-roboto;
    font-size: 80%;
    font-weight: 300;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
    color: $color-dark-grey;

    &:hover {
        color: rgba($color: $primary-color, $alpha: 0.6);
        transform: scale(1.04);
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }
}

.color-wh {
    color: #fff;
}

.color-bl {
    color: #000;
}

.small-uppercase-title-pos-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    z-index: 10;
}

.small-uppercase-title-pos-1 {
    grid-column-start: 2;
    position: absolute;
    right: 0;
}

.rotate {
    transform: rotate(-90deg);
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-family: $font-family-roboto;
    font-size: 50px;
    font-weight: 500;
    max-width: 70%;
    margin-bottom: 60px;
}

.news-title {
    font-family: $font-family-roboto;
    font-size: 50px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 60px;
    color: $color-medium-grey;
    padding-bottom: 40px;
    border-bottom: 1px solid $color-light-grey;
}

.prof-card-title {
    font-family: $font-family-roboto;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.card-title-pos {
    position: absolute;
    top: 0;
}