.nav-burger-top-wh {
    width: 60px;
    height: 0.8px;
    background: #fff;
}

.nav-burger-bottom-wh {
    width: 30px;
    height: 0.8px;
    background: #fff;
}

.nav-burger-box {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-around;
    align-items: center;
}
