@import '../../../_sass/abstracts/variables';

.standard-text-paragraph {
    line-height: 30px;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    width: 75%;
}

.text-paragraph-extra {
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
    text-align: left;
    width: 30%;
}

.news-standard-paragraph {
    line-height: 35px;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    width: 100%;
}

.paragraph-mb-med {
    margin-bottom: 35px
}

.paragraph-bottomline {
    width: 75%;
    margin-bottom: 35px;
    height: 1px;
    background: $color-light-grey;
}

.team-card-bottomline {
    width: 100%;
    margin-bottom: 35px;
    height: 1px;
    background: $color-light-grey; 
}

.par-pos-1 {
    margin-left: auto;
}

.card-text-pos {
    position: absolute;
    bottom: 0;
    right: 4%;
}

@media only screen and (max-width: 768px) {
    .standard-text-paragraph {
        width: 80%;
    }
    .paragraph-bottomline {
        width: 80%;
    }
}

.news-intro {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 35px;
    width: 100%;
}