@import '../../../_sass/abstracts/variables';

.switch-articles-button {
    font-family: $font-family-roboto;
    font-size: 50px;
    font-weight: 900;
    transition: 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
        transition: 0.2s ease-in-out;
        color: $primary-color;
    }
}
