.primary-lable {
    padding: 3px 8px;
    max-width: 50%;
    background: #FF4202;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-left: auto;
    text-align: center;
    font-weight: 400;
}