.event-block-container {
    grid-row: 6 / span 3;
    grid-column: 3 / span 2;
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.28);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7%;
    z-index: 0;
}