@import '../../../_sass/abstracts/variables';

.nav-burger-box {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    align-items: center;
    height: 20px;

    &:hover {
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
}

.fade-in-menutitle {
    opacity: 0;
    transition: 0.2s ease-in-out;
    color: $color-dark-grey;
    font-size: 70%;
    font-weight: 300;
}

.fade-out-menutitle {
    opacity: 0;
    transition: 0.2s ease-in-out;
    font-size: 70%;
    font-weight: 300;
}

.fade-in-cross {
    height: auto;
}

.nav-burger-top {
    width: 45px;
    height: 1px;
    background: $color-dark-grey;
    transition: 0.7s ease-in-out;
    transform: rotate(0deg);
}

.nav-burger-bottom {
    width: 45px;
    height: 1px;
    background: $color-dark-grey;
    transition: 0.7s ease-in-out;
    margin-top: 7px;
}

.nav-burger-top-wh {
    height: 2px;
    background: $primary-color;
    transform: rotate(45deg);
    width: 23px;
    margin-top: 19px;
    transition: 0.2s ease-in-out;
}

.nav-burger-bottom-wh {
    height: 2px;
    background: $primary-color;
    transform: rotate(-45deg);
    width: 23px;
    transition: 0.2s ease-in-out;
}

.menu-action {
    transition: 0.2s ease-in-out;

    &:hover .nav-burger-top {
        cursor: pointer;
        transform: scaleX(1.6);
        transition: 0.2s ease-in-out;
    }

    &:hover .nav-burger-bottom {
        cursor: pointer;
        transform: scaleX(0.6);
        transition: 0.2s ease-in-out;
    }

    &:hover .nav-burger-top-wh {
        cursor: pointer;
        transform: rotate(-45deg);
    }

    &:hover .nav-burger-bottom-wh {
        cursor: pointer;
        transform: rotate(45deg);
        transition: 0.2s ease-in-out;
    }
}

.nav-fixed {
    display: flex;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    padding: 0px 10%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9994;
    height: 60px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    box-sizing: border-box;
}

.provide-white {
    background: rgba(255, 255, 255, 0.9);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}