// g e n e r a l
.left-right-margin {
    margin: 0px 15px;
}

.align-items-center {
    align-items: center;
}

.color-lightgrey {
    color: #BABABA;
}

.overlay-menu-links {
    font-size: 23px;
    color: #fff;
}

.overlay-menu-links-social {
    font-size: 14px;
    color: #707070;
}
