@import './fonts';

$primary-color: rgb(47, 0, 255);
// $primary-color: #FF4202;

$hardly-grey: #f9f9f9;
$color-light-grey: #eaeaea;
$color-medium-grey: #D8D8D8;
$color-dark-grey: #707070;

// $font-family-ranga: 'Ranga', cursive;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-sourcecodepro: 'Source Code Pro', monospace;