.row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}

.row-flex-start {
    display: flex;
    justify-content: flex-start;
}

.row-align-right {
    display: flex;
    justify-content: flex-end;
}

.row-general-page-wrapper {
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}