.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.header-nav-justify-content {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 4;
}

.row-flex-start {
    display: flex;
    justify-content: flex-start;
}

.row-align-right {
    display: flex;
    justify-content: flex-end;
}

.row-general-page-wrapper {
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}