.overlay-menu-wrapper {
    height: 100vh;
    padding: 5% 10%;
}

.col-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-card-width-1 {
    width: 75%;
    height: 100%;
    margin: auto;
    position: relative;
}

.col-card-width-full {
    width: 100%;
    height: 350px;
}

.col-prof-img-wrapper {
    width: 50%;
    height: 100%;
}

.text-align-right {
    text-align: right;
}

.full-height {
    height: 100%;
}

.col-medium-height {
    padding: 50px 0px;
}
