.overlay-menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    height: 85vh;
    margin: auto;
    background-color: #fff;
}

.col-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    background-color: #fff;
    margin: auto;
    min-height: 500px;
}

.text-align-right {
    text-align: right;
}

.full-height {
    height: 100%;
}

.medium-height {
    min-height: 130px;
}

.featured-text-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 70%;
    background-color: #fff;
    margin: auto;
    position: absolute;
    bottom: 40px;
    right: 0;
    padding: 30px;
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.28);
}

.col-general-page-wrapper {
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}