@import '../../../_sass/abstracts/variables';

.primary-button {
    height: 50px;
    width: 230px;
    border: 1px solid $primary-color;
    transition: 0.2s ease-in-out;
    color: $primary-color;
    &:hover{
        border: 1px solid $primary-color;
        background: $primary-color;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        color: #fff;
        animation: pulse 0.6s;
    }
}

.team-read-more-button {
  height: 35px;
  width: 50%;
  transition: 0.2s ease-in-out;
  color: #fff;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
      border: #000;
      background: #000;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      color: #fff;
      animation: pulse 0.6s;
  }
}

.auto-left-margin {
    margin-left: auto;
}


@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  