.header-fullscreen-image {
    background-image: url(../../../assets/images/header-1.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.project-fullscreen-image {
    // background-image: url(../../../assets/images/project-1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.card-bg-image {
    background-image: url(../../../assets/images/kinderhuisziekenfonds.png);
    background-size: cover;
    height: 200px;
    width: 100%;
}

.card-image-pos {
    position: absolute;
    top: 10%;
}

.prof-bg-image {
    background-image: url(../../../assets/images/prof-1.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prof-image-pos {
    position: absolute;
    top: 10%;
}

.prof-image-pos {
    position: absolute;
    top: 10%;
}

.news-detail-image-1 {
    background-image: url(../../../assets/images/projects_sm_21_3Da03_3DanimI_2017_18_Maïté_Huylebroeck.jpg);
    background-size: contain;
    height: 150px;
    width: 25%;
}

.news-detail-image-2 {
    background-image: url(../../../assets/images/robot.jpeg);
    background-size: contain;
    height: 150px;
    width: 25%;
}

.news-detail-image-3 {
    background-image: url(../../../assets/images/kinderhuisziekenfonds.png);
    background-size: contain;
    height: 150px;
    width: 25%;
}