.header-main-image {
    background-image: url(../../../assets/images/header-1.jpeg);
    background-size: cover;
    grid-row: 3 / span 4;
    grid-column: 2 / span 2;
    animation-duration: 2s;
}

.featured-bg-image {
    background-image: url(../../../assets/images/bootcamp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 85px;
}